<div class="dialog-box">
    <h1>Social Network</h1>
</div>

<div id="login-form" class="dialog-box">
    <h1>Login</h1>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" />
    </p>
    <p class="buttons">
        <a href="#/login/" class="button" id="loginButton">Login</a>
        <a href="#/register/" class="link">Register</a>
    <p>
</div>

<div id="register-form" class="dialog-box">
    <h1>Register</h1>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" />
    </p>
     <p>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" />
    </p>
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" />
    </p>
    <p>
        <label for="ful">Genfer:</label>
        <input type="radio" name="sex" value="male" checked>Male
		<input type="radio" name="sex" value="female">Female
		<input type="radio" name="sex" value="female">Other
    </p>

    <p class="buttons">
        <a href="#" class="button" id="registerButton">Register</a>
        <a href="#" class="link">Login</a>
    </p>
</div>